body{
    display: grid;
     margin: 0;
    grid-template-areas: "nav nav nav"
                          "header header header"
                          "section1 section1 section1"
                          "section2 section2 section2"
                          "section3 section3 section3"
                          "footer footer footer";
    grid-template-columns: 33,3vw 33,3vw 33,3vw;
    grid-template-rows: 0.6vh 55vh 28vh 35vh 40vh 10vh;
    margin: 0;
   }
   body::-webkit-scrollbar{
       /* sumir com o scrollbar (barrinha de rolar que fica embaixo ) */
       width: 0px; 
   }
   
   /* .icone{
       /* background-color:green; "para deixar o fundo do contorno verde" */
       /* "border-radius:" para deixar redondo o contorno do icone*/

   /* } */
   div h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
   }
 .footer {
    color: rgb(158, 152, 152);
    
   }
footer{
    grid-area: footer;
    background-color: rgb(228, 225, 225);
    height: 250px;
    display: flex;
    justify-content: space-around;
}
header{
    grid-area: header;
    background-image: url("images/banner.png");
    background-size: cover;
}
header .description{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 130px;
    /* margin-block-start: -6em;
    margin-block-end: -8em; */
}
header img{
    display: block;
    float: right;
    width: 57%;
    padding-bottom: 10px;
    padding-right: 38px;
}
header .mao{
    float: right;
    width: 50%;
    height: 80%;

}
header .titulo{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 18pt;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom:0;
}
header .icons{    /* subitraí o'e' para não interferir mais na class icones da section*/
    width: 100px;
    display: flex;  /*  <-----*/
    align-items: center;  /*  <-----   ELES NÃO TEM EFEITO NO CÓDIGO*/
    padding-left: 130px;
    margin-right: -7px;    /*  <-----*/
}
nav{
    grid-area: nav;
    background-color: #2fcb70;
    margin-top: 0;
}

section{
    background-color: white;
   display: flex;
    text-align: center;
    justify-content: flex-start;
    grid-area: section1;
}
.icone{
       background-color:rgb(23, 151, 23); 
       border-radius: 100%;   /* Deixa o contorno do icone redondo  */
       
       /* margin: 0 5px; */  /* <-- parece-me inútil, por enquanto*/
        width: 80px;
         height: 80px; 
    }
       
    .icones{
       display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* aqui a div 'icones' vai ocupar toda a section*/
    /* height: 100%; */
    justify-content: space-around; /* aqui há um espaçamento igual, ao redor, de todas as divs                                                      'icone' */
     }   

     .icone div{            /* aqui vamos alinhar a imagem dos icones, no fundo verde*/
    align-items: center;
    display: flex;
    justify-content: center;
    /* height: 100%; */;;;;;;; /* só descomentar esse depois que a class '.icones' do header não interferir mais na da section1*/
}
        
   

.section2{
    grid-area: section2;
    background-color: #e3e3e3;
    display: block;
}
.section2-description{
  padding-top: 10px;  
}

.section2-description, .subtitulo{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin-right: 400px;
    margin-left: 100px;
}

.subtitulo{
    margin-top: 20px;
}

.section3{
    grid-area: section3;
    background-color: blueviolet;
}
@media(min-width:768px){
        /* width: 35vw, heigth: ñ sei ainda */
    
}

@media(min-width:1024px, min-height:1074px){
} 

@media(min-width:1024px){
    /* min-height:1074px - NÃO DECLARAR O HEGHT NA "FORMULA", ESTAVA DANDO ERRO */

}
































