body{
    display: grid;
     margin: 0;
    grid-template-areas: "nav nav nav"
                          "header header header"
                          "section1 section1 section1"
                          "section2 section2 section2"
                          "section3 section3 section3"
                          "footer footer footer";
    grid-template-columns: 33,3vw 33,3vw 33,3vw;
    grid-template-rows: 0.6vh 40vh 28vh 35vh 40vh 10vh;
    margin: 0;
   }
   body::-webkit-scrollbar{
       /* sumir com o scrollbar (barrinha de rolar que fica embaixo ) */
       width: 0px; 
   }
   div{
    padding: 50px;
    }
   .icone{
       /* background-color:green; "para deixar o fundo do contorno verde" */
       /* "border-radius:" para deixar redondo o contorno do icone*/

   }
footer{
    grid-area: footer;
    background-color: black;
}
header{
    grid-area: header;
    background-image: url("images/banner.png");
    background-size: cover;
}
header .description{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    padding-left: 130px;
}
header img{
    float: right;
    width: 65%;
    padding-top: 72px;
    padding-right: 70px;
}
header .mao{
    float: right;
    width: 50%;
    height: 80%;
}
header .titulo{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 14pt;
    padding-left: 130px;
    padding-top: 60px;
    padding-bottom:0;
}
nav{
    grid-area: nav;
    background-color: #2fcb70;
    margin-top: 0;
}

section{
    background-color: blue;
   display: flex;
    text-align: center;
    grid-area: section1;
}
section img{
    height:70px;
}
.section2{
    grid-area: section2;
    background-color: brown;

}
.section3{
    grid-area: section3;
    background-color: blueviolet;
}
